<h1>Statistique</h1>

<div>
    <label>Choisir le nombre d'iteration:
      <input [(ngModel)]="iteration" placeholder="0"/>
    </label>
  </div>
  <div *ngIf="iteration">
      <button type="button" class="btn btn-primary"  >Lancer statistique sur algorithme Brownien</button>
  </div>