<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="page-header">
    <h1>Maze en angular
      <small>par Jakez Rolland</small>
    </h1>
  </div>


  <router-outlet></router-outlet>
</div>