button {
    width :100%
}
table{
    border-collapse:collapse;
    margin : auto; 
}
td{
    border : solid;
    border-width: 3px;
    height:20px;
    width:20px;
}
td.E {
    border-right: hidden;
}
td.S {
    border-bottom: hidden;
}


td.true {
    background-color:yellow
}
td.entrance {
    background-color:red
}
td.exit {
    background-color:green
}
td.node {
    background-color:blue
}






