<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <div>
      <button *ngIf="randommaze" type="button" class="btn btn-primary btn-lg btn-block" (click)="solveMazePile()">Résoudre Intelligemment</button>
    </div>
    <div>
      <button *ngIf="randommaze" type="button" class="btn btn-primary btn-lg btn-block" (click)="solveMaze()">Résoudre avec Algo Brownien</button>
    </div>
    <div>
      <button *ngIf="randommaze" type="button" class="btn btn-primary btn-lg btn-block" (click)="solveMazeStat('brown')">Résoudre {{runtime}} fois (Brown)</button>
    </div>
    <div>
      <button *ngIf="randommaze" type="button" class="btn btn-primary btn-lg btn-block" (click)="solveMazeStat('intell')">Résoudre {{runtime}} fois (Intell)</button>
    </div>

    <div>
      <button *ngIf="randommaze" type="button" class="btn btn-primary btn-lg btn-block" (click)="reinitMaze(height,width)">Réinitialiser</button>
    </div>
    <div>
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="generateRandomMaze(height,width)">Génerer nouveau labyrinth</button>
    </div>
    <br>

    <div class="row">
      <div class="col-md-6">
        Hauteur
      </div>
      <div class="col-md-6">
        <input [(ngModel)]="height" placeholder="" />
      </div>


    </div>
    <div class="row">
      <div class="col-md-6">
        Largeur
      </div>
      <div class="col-md-6">
        <input [(ngModel)]="width" placeholder="" />
      </div>


    </div>
    <div class="row">
      <div class="col-md-6">
        Nombre de résolutions
      </div>
      <div class="col-md-6">
        <input [(ngModel)]="runtime" placeholder="" />
      </div>


    </div>
  </div>

  <div class="col-md-5">
    <table>

      <tr *ngFor="let line of randommaze">

        <ng-container *ngFor="let col of line">
          <td (click)="updateSelectedCell(col.h,col.w)" class="{{col.type}} {{col.visited}} {{col.portes[0]}} {{col.portes[1]}} {{col.portes[2]}} {{col.portes[3]}}">

          </td>

        </ng-container>


      </tr>


    </table>
    <p *ngIf="resolved">La meilleur solution sur {{runtime}} résolutions:</p>
  </div>

  <div class="col-md-3">
    <h3>Informations :</h3>
    <h4>Moyenne de nombre de coups pour resoudre le labyrinthe : {{mean}}</h4>
    <h4 *ngIf="minCellVisited">Cellules parcouru par la meilleur solution : {{minCellVisited}}</h4>
    <h3 *ngIf="selectCell">Cellule selectionnée :</h3>
    <app-cell [cellule]="selectCell"></app-cell>
  </div>
  <div class="col-md-1">

  </div>

</div>